

.navbar{
    border:none;
    background:#fff;
}
.navbar-light .navbar-toggler{
    border:none;
}
.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active
{
    font-weight:bold;
    color:#5a5a5a;
}

nav a
{
    font-weight:bold;
}
.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color:#626262;
    font-size:13px;
    margin-right:5px;
}
.nav-link i{
    font-size:13px;
    margin-right:2px;
}
nav a span
{
    color:#6d48e5;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
}